In [1]:
import math

In [2]:
math.sqrt(25)

5.0

In [3]:
math.pi

3.141592653589793

In [4]:
import math as mt

In [5]:
mt.sqrt(25)

5.0

In [6]:
from numpy import random

In [7]:
import numpy as np

In [9]:
# uniform random numbers in [0,1]
dataOne = random.rand(5,5)

In [10]:
np.mean(dataOne)

0.5704383143613764

In [11]:
# return the absolute value of -9
mt.fabs(-9)

9.0

In [13]:
# return the integer square root of 16
mt.sqrt(16)

4.0

In [15]:
import statistics as st

In [17]:
st.mean([1, 7, 8])

5.333333333333333

In [19]:
st.median([5, 1, 7, 3, 7])

5

In [20]:
# Functions Step 3.4
print('I Love data Science')

I Love data Science

In [22]:
variableName = 25

In [23]:
variableName

25

In [24]:
variableName1 = 'I Love data Science'

In [25]:
print(variableName1)

I Love data Science

In [26]:
variableName1

'I Love data Science'

In [29]:
type(variableName)

float

In [28]:
variableName = 25.0

In [34]:
varOne = '25'

In [35]:
varTwo = 'Hello'

In [36]:
varThree = varOne + varTwo

In [37]:
print(varThree)

25Hello

In [38]:
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [41]:
print(listOne[0:2])

[1, 2]

In [42]:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098

In [43]:
apples = {'opal': 12, 'honeycrisp': 523, 'gala': 2519, 'granny':23, 'reddelicious':578}
apples['gala']

2519

In [45]:
listApples = [5,10,15,20,25]
print(listApples[1:3])

[10, 15]

In [46]:
print(listApples[0:2])

[5, 10]

In [47]:
np.mean(listApples)

15.0

In [48]:
np.median(listApples)

15.0

In [49]:
np.max(listApples)

25

In [51]:
st.mean(listApples)

15

In [52]:
st.median(listApples)

15