In [7]:
import datetime

In [8]:
datetime.datetime.now()

datetime.datetime(2020, 3, 28, 18, 25, 57, 836905)

In [9]:
time()

Wall time: 0 ns

()

In [11]:
def SayHello():print('Hello There')

In [13]:
SayHello()

Hello There

In [15]:
def DoSum(Value1, Value2):return Value1 + Value2

In [22]:
DoSum(1,2)

3

In [25]:
def DisplaySum(Value1, Value2):print(str(Value1) + ' + ' + str(Value2) + ' = ' + str((Value1 + Value2)))

In [26]:
DisplaySum(1,2)

1 + 2 = 3

In [28]:
DisplaySum(2,3)

2 + 3 = 5

In [30]:
def SayHello(Greeting = "No Value Supplied"): print(Greeting)

In [31]:
SayHello()

No Value Supplied

In [32]:
SayHello("Howdy!")

Howdy!

In [36]:
def DisplayMulti(ArgCount = 0, *VarArgs): print('You passed ' + str(ArgCount) + ' arguments.',VarArgs)

In [37]:
DisplayMulti()

You passed 0 arguments. ()

In [38]:
DisplayMulti(3,'Hello',1,True)

You passed 3 arguments. ('Hello', 1, True)

In [48]:
DisplayMulti('Hello', 'Goodbye', 'First', 'Last')

You passed Hello arguments. ('Goodbye', 'First', 'Last')

In [49]:
DisplayMulti('Hello', 'Cont', 'Goodbye', 'Break', 'Last')

You passed Hello arguments. ('Cont', 'Goodbye', 'Break', 'Last')

In [51]:
def SecretNumber(): GotIt = False

In [65]:
def SecretNumber():
    GotIt = False
    while GotIt == False:
        One = int(input("Type a number between 1 and 10: "))
        Two = int(input("Type a number between 1 and 10: "))
        
        if (One >= 1) and (One <= 10):
            if (Two >= 1) and (Two <= 10):
                print('Secret number is: ' + str(One * Two))
                GotIt = True
                continue
            else:
                print("Incorrect second value!")
        else:
            print("Incorrect first value!")
        print("Try again!")

In [66]:
SecretNumber( )

Type a number between 1 and 10: 20
Type a number between 1 and 10: 10
Incorrect first value!
Try again!
Type a number between 1 and 10: 10
Type a number between 1 and 10: 10
Secret number is: 100

In [80]:
set([1, 2, 3])

{1, 2, 3}

In [88]:
SetA = {'Red', 'Blue', 'Green', 'Black'}
SetB = {'Black', 'Green', 'Yellow', 'Orange'}
SetX = SetA.union(setB)
SetY = SetA.intersection(SetB)
SetZ = SetA.difference(SetB)

In [92]:
print(SetX)
print(SetY)
print(SetZ)

{'Yellow', 'Red', 'Blue', 'Green', 'Black', 'Orange'}
{'Black', 'Green'}
{'Red', 'Blue'}

In [93]:
ListA = [0, 1, 2, 3]
ListB = [4, 5, 6, 7]
ListA.extend(ListB)
ListA

[0, 1, 2, 3, 4, 5, 6, 7]

In [95]:
ListA.append(-5)

In [96]:
ListA

[0, 1, 2, 3, 4, 5, 6, 7, -5]

In [97]:
ListA.remove(-5)

In [98]:
ListA

[0, 1, 2, 3, 4, 5, 6, 7]

In [99]:
ListX = ListA + ListB

In [100]:
ListX

[0, 1, 2, 3, 4, 5, 6, 7, 4, 5, 6, 7]

In [101]:
MyTuple = (1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [106]:
for Value1 in MyTuple:
    if type(Value1) == int:
        print(Value1)
    else:
        for Value2 in Value1:
            if type(Value2) == int:
                print("\t", Value2)
            else:
                for Value3 in Value2:
                    print("\t\t", Value3)

1
2
3
	 4
	 5
	 6
		 7
		 8
		 9

In [107]:
MyNewTuple = MyTuple.__add__((10, 11, 12, (13, 14, 15)))

In [108]:
MyNewTuple

(1, 2, 3, (4, 5, 6, (7, 8, 9)), 10, 11, 12, (13, 14, 15))

In [113]:
for Value1 in MyNewTuple:
    if type(Value1) == int:
        print(Value1)
    else:
        for Value2 in Value1:
            if type(Value2) == int:
                print("\t", Value2)
            else:
                for Value3 in Value2:
                    if type(Value3) == int:
                        print("\t\t", Value3)
                else:
                    for Value4 in Value3:
                        if type(Value4) == int:
                            print("\t", Value4)
                        else:
                            for Value5 in Value4:
                                print("\t\t", Value5)

1
2
3
	 4
	 5
	 6
		 7
		 8
		 9

TypeError: 'int' object is not iterable

In [114]:
ListA = ['Orange', 'Yellow', 'Green', 'Brown']
ListB = [1, 2, 3, 4]

In [115]:
ListA[1]

'Yellow'

In [116]:
ListB[1:3]

[2, 3]

In [117]:
ListA[1:3]

['Yellow', 'Green']

In [122]:
for Value in ListB[1:3]:print(Value)

2
3

In [123]:
ListB[:3]

[1, 2, 3]

In [124]:
ListA[:4]

['Orange', 'Yellow', 'Green', 'Brown']

In [125]:
ListA[:2]

['Orange', 'Yellow']

In [126]:
for Value1, Value2 in zip(ListA, ListB):
    print(Value1, '\t', Value2)

Orange 	 1
Yellow 	 2
Green 	 3
Brown 	 4

In [127]:
MyDict = {'Orange':1, 'Blue':2, 'Pink':3}

In [128]:
MyDict['Pink']

3

In [129]:
MyDict.keys( )

dict_keys(['Orange', 'Blue', 'Pink'])

In [5]:
from sklearn.datasets import load_iris

In [6]:
iris = load_iris()

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv (r'C:\Users\exfj4rw\OneDrive - McKesson Corporation\UTDA\C2\C2T2\CompleteResponses.csv')

In [11]:
print(df)

            salary  age  elevel  car  zipcode        credit  brand
0     119806.54480   45       0   14        4  442037.71130      0
1     106880.47840   63       1   11        6   45007.17883      1
2      78020.75094   23       0   15        2   48795.32279      0
3      63689.93635   51       3    6        5   40888.87736      1
4      50873.61880   20       3   14        4  352951.49770      0
...            ...  ...     ...  ...      ...           ...    ...
9893   87580.91422   75       1   18        8  282511.90950      1
9894  129181.38200   75       2    7        4  384871.36390      1
9895   97828.08884   66       2   15        0  399446.69620      1
9896   20000.00000   24       1   14        1  223204.64950      1
9897   96430.16419   34       1    2        7  224029.80700      0

[9898 rows x 7 columns]

In [13]:
creditone = pd.read_csv (r'C:\Users\exfj4rw\OneDrive - McKesson Corporation\UTDA\C5T1\defaultofcreditcardclients.csv')

In [14]:
print (creditone)

      Unnamed: 0         X1   X2         X3        X4   X5     X6     X7  \
0             ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2
1              1      20000    2          2         1   24      2      2
2              2     120000    2          2         2   26     -1      2
3              3      90000    2          2         2   34      0      0
4              4      50000    2          2         1   37      0      0
...          ...        ...  ...        ...       ...  ...    ...    ...
29996      29996     220000    1          3         1   39      0      0
29997      29997     150000    1          3         2   43     -1     -1
29998      29998      30000    1          2         2   37      4      3
29999      29999      80000    1          3         1   41      1     -1
30000      30000      50000    1          2         1   46      0      0

          X8     X9  ...        X15        X16        X17       X18       X19  \
0      PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2
1         -1     -1  ...          0          0          0         0       689
2          0      0  ...       3272       3455       3261         0      1000
3          0      0  ...      14331      14948      15549      1518      1500
4          0      0  ...      28314      28959      29547      2000      2019
...      ...    ...  ...        ...        ...        ...       ...       ...
29996      0      0  ...      88004      31237      15980      8500     20000
29997     -1     -1  ...       8979       5190          0      1837      3526
29998      2     -1  ...      20878      20582      19357         0         0
29999      0      0  ...      52774      11855      48944     85900      3409
30000      0      0  ...      36535      32428      15313      2078      1800

            X20       X21       X22       X23                           Y
0      PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1             0         0         0         0                           1
2          1000      1000         0      2000                           1
3          1000      1000      1000      5000                           0
4          1200      1100      1069      1000                           0
...         ...       ...       ...       ...                         ...
29996      5003      3047      5000      1000                           0
29997      8998       129         0         0                           0
29998     22000      4200      2000      3100                           1
29999      1178      1926     52964      1804                           1
30000      1430      1000      1000      1000                           1

[30001 rows x 25 columns]

In [2]:
f=open("Colors.txt","r")
print(f.read())

Color	Value
Red	1
Orange	2
Yellow	3
Green	4
Blue	5
Purple	6
Black	7
White	8

In [3]:
with open("Colors.txt", "r") as open_file:
    for observation in open_file:
        print ('Reading Data: ' + observation)

Reading Data: Color	Value

Reading Data: Red	1

Reading Data: Orange	2

Reading Data: Yellow	3

Reading Data: Green	4

Reading Data: Blue	5

Reading Data: Purple	6

Reading Data: Black	7

Reading Data: White	8

In [11]:
n = 2
with open("Colors.txt", "r") as open_file:
    for j, observation in enumerate(open_file):
        if j % n==0:
            print('Reading Line: '+ str(j) + ' Content: ' + observation)

Reading Line: 0 Content: Color	Value

Reading Line: 2 Content: Orange	2

Reading Line: 4 Content: Green	4

Reading Line: 6 Content: Purple	6

Reading Line: 8 Content: White	8

In [12]:
from random import random
sample_size = 0.25
with open("Colors.txt", "r") as open_file:
    for j, observation in enumerate(open_file):
        if random()<=sample_size:
            print('Reading Line: '+ str(j) + ' Content: ' + observation)

Reading Line: 5 Content: Blue	5

Reading Line: 6 Content: Purple	6

In [14]:
import pandas as pd
color_table = pd.io.parsers.read_table("Colors.txt")
print(color_table)

    Color  Value
0     Red      1
1  Orange      2
2  Yellow      3
3   Green      4
4    Blue      5
5  Purple      6
6   Black      7
7   White      8

In [18]:
import pandas as pd
titanic = pd.io.parsers.read_csv(r'C:\Users\exfj4rw\OneDrive - McKesson Corporation\UTDA\C5T1\titanictest.csv')

In [23]:
X = titanic[['Age']]
print (X)

      Age
0    34.5
1    47.0
2    62.0
3    27.0
4    22.0
..    ...
413   NaN
414  39.0
415  38.5
416   NaN
417   NaN

[418 rows x 1 columns]